<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  </div>
  <div class="container">
  <form [formGroup]="labForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" name="labName" class="form-control" formControlName="labName">
    <span *ngIf="!labForm.get('labName').valid && labForm.get('labName').touched"
    class="alert alert">
      Name field cannot exceed 30 characters in length
    </span>
  </div>
  <div class="form-group">
    <label for="">Lab Type</label>
    <select name="labSize" id="" formControlName="labSize">
        <option value="">Select Option</option>
      <option *ngFor="let sizes of labTypes">
        {{sizes}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="isJoinng">Is Joining?</label>
    <input type="checkbox" name="isJoining" formControlName="isJoining">
  </div>
  <button type="submit" class="btn btn-success">Insert</button>
  
</form>


<labs-details [data]="labsArray" (edit-this)="onRowEdit($event)"></labs-details>

